.app{
  display: flex;

  position: relative;
}

.dimensions{
  position: absolute;
  top: 0;
  left: 0;
  color: yellow;
  background-color: black;
  padding: 10px;
  z-index: 2;
}

.left{
  color: #f6f6f6;

  font-weight: 500;
  font-size: 24px;

  height: auto;
  width: fit-content;

  padding-left: 20px;

  background: #131313;
  border-right: 1px solid #2B2B2B;

  animation: appearFromLeft 1s ease, appear 1s ease;

  .placeholder{
    position: sticky;
    top: 90px;

    display: flex;
    flex-direction: column;
  
    align-items: center;

    margin-right: 115px;
    padding: 50px;

    border: 1px solid #4b4b4b;
    border-radius: 50px;

    .top{
      display: flex;
      margin-bottom: 40px;

      justify-content: space-between;
      align-items: end;

      width: 100%;

      >:nth-child(1){
        font-size: 32px;
        font-weight: 400;

        line-height: 80%;
      }

      :nth-child(2){
        font-weight: 300;
        font-size: 14px;
        line-height: 90%;
      }

      :nth-child(2) :nth-child(2){
        margin-top: 5px;
      }

      img{
        position: absolute;

        top: 7px;
        right: 55px;

        width: 83.75px;
        height: 93.23px;

        opacity: 0.1;

        background: none;

        transform: rotate(-30deg);
      }
      
    }

    .profile-image{
      background: #929292;
      border-radius: 50px;

      width: 267px;
      height: 263px;

      filter: brightness(0.1);

      &:hover{
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out; /* Smooth transition */
      }
    }


    .mail-place{
      display: flex;
      flex-direction: column;

      align-items: center;
      
      color: #777777;

      font-size: 14px;
      font-weight: 400;

      padding: 35px 0px;

      :nth-child(1){
        margin-bottom: 8px;
      }
    }

    .socials{
      display: flex;

      justify-content: center;

      padding-bottom: 35px;

      div{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;

        margin-right: 10px;

        border: 2px solid #4b4b4b;
        border-radius: 100%;

        cursor: pointer;
        transition: border 0.3s ease-in-out; 

        &:hover{
        
          border: 2px solid #BB5858;
        }
      
        &:active{
          background: #532626;
        }

        img{
          width: 16px;
          opacity: 0.5;
        }
      }
    }

    .hire-me-button{
      display: flex;

      align-items: center;
      justify-content: center;

      background: #BB5858;

      padding: 13px;

      font-weight: 650;
      font-size: 16px;

      border-bottom: 5px solid #AA4C4C;
      border-radius: 50px;

      width: 100%;
      max-width: 500px;

      cursor: pointer;
      user-select: none;

      &:hover{
        background: #c45c5c;
      }

      &:active{
        background: #ca5f5f;
        padding: 15.5px;
        border-bottom: none;
      }
    }

  }
}

.middle{
  color: #f6f6f6;
  width: 100%;

  .one, .two, .three, .four{
    display: flex;
    flex-direction: column;

    align-items: center;

    background: #131313;
    border-bottom: 1px solid #2B2B2B;

    padding: 0px 20px 120px 20px;

  }

  .one{
    animation: appearFromTop 1s ease, appear 1s ease;
    padding-top: 80px;

    .main-text{
      font-size: 80px;
      line-height: 112%;
      letter-spacing: -2.5px;
      font-weight: 280;

      width: 850px;

      span{
        color: #BB5858;
        font-weight: 400;
      }
    }

    .middle-text{
      display: flex;
      
      font-size: 16px;
      font-weight: 400;
      color: #888888;

      align-items: center;

      padding: 50px 5px;
      width: 850px;
    }

    .skills-wrapper{
      display: flex;
      justify-content: space-between;

      margin-top: 125px;

      width: 850px;
    }
  }

  .two{
    background: #131313;

    animation: appearFromBottom 1s ease, appear 1s ease;

    padding-top: 120px;

    .work-wrapper{
      display: grid;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 100%;
      gap: 30px; 

      width: 850px;

      transition: opacity 1.5s ease, transform 0.75s ease;
      
      :nth-child(3){
        grid-column: span 2;
      }
     
      .work-block{
        display: flex;
        flex-direction: column;

        padding: 30px;

        background-color: #1A1A1A;
        border: 1px solid rgb(44, 44, 44);
        border-radius: 15px;

        height: fit-content;
        width: 100%;

        .work_upper{
          display: flex;

          justify-content: space-between;
          align-items: end;

          margin-bottom: 30px;

          div :nth-child(1){
            font-size: 18px;
            margin-bottom: 5px;
          }

          div :nth-child(2){
            color: #777777;
            font-size: 14px;
            font-weight: 400;
          }

          button{
            background: #BB5858;

            height: 30px;
            width: 132px;

            border: none;
            border-radius: 5px;

            color: #e6e6e6;
            font-size: 13px;
            font-weight: 700;

            cursor: pointer;
            
            &:hover{
              background: #c45c5c;
            }
      
            &:active{
              background: #ca5f5f;
            }
          }

        }

        img {
          display: block;

          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .three{
    padding-top: 120px;
    background: #131313;

    .price-wrapper{
      transition: opacity 1.5s ease, transform 0.75s ease;
      display: grid;

      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;

      width: 850px;

      :last-child{
        margin-right: 0px;
      }
    }
  }

  .four{
    padding-top: 120px;
    padding-bottom: 80px;

    border-bottom: none; // leave this

    form{
      transition: opacity 1.5s ease, transform 0.75s ease;
      
      width: 850px;

      >div{
        display: flex;
        position: relative;

        justify-content: space-between;
        align-items: end;

        margin-bottom: 95px;
      
      }

      >div:nth-of-type(2){
        height: 52px;
        
      }

      button{
        display: flex;

        align-items: center;
        justify-content: center;

        color: #f6f6f6;
        background: #BB5858;

        padding: 13px 75px;

        border: none;

        font-weight: 650;
        font-size: 16px;

        border-bottom: 5px solid #AA4C4C;
        border-radius: 50px;

        cursor: pointer;
        user-select: none;
       
        &:hover{
          background: #c45c5c;
        }

        &:active{
          background: #ca5f5f;
          padding: 15.5px 75px;
          border-bottom: none;
        }

        &:disabled:hover,
        &:disabled:active {
          background: #BB5858; 
          padding: 13px 75px;
          border-bottom: 5px solid #AA4C4C;
        }
      }
      
    }

  }
}

.right{
  background: #131313;
  justify-self: end;

  height: auto;
  padding-right: 55px;
  padding-left: 55px;

  animation: appearFromRight 1s ease, appear 1s ease;

  border-left: 1px solid #2B2B2B;

}



.hidden {
  opacity: 0;
  transform: translateY(200px);
}

.visible {
  transform: translateY(0);
  opacity: 1;
}




@keyframes appearFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}


@keyframes appearFromRight {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes appearFromTop {
  0% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes appearFromBottom {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
   
  }
  100% {
    opacity: 1;
    
  }
}




@media (max-width: 1680px) {
  .middle .one .main-text {
    font-size: 50px;
    width: 550px;
  }

  .middle .one .middle-text {
    font-size: 14px;
    width: 550px;
  }

  .middle .one .skills-wrapper{
    width: 550px;
  }

  .middle .two .work-wrapper{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 550px;

    :nth-child(3){
      grid-column: span 1;
    }
  }

  .middle .three .price-wrapper{
    width: 550px;
    grid-template-columns: 1fr 1fr;
  }

  .middle .four form{
    width: 550px
  }

}


@media (max-width: 1310px) {
  .left{
    border-right: none;
  }

  .left .placeholder{
    margin-right: 20px;
  }

  .right{
    padding: 0px 20px;
    border-left: none;
  }

  .middle .one, .middle .two, .middle .three {
    border-bottom: none;
  }

}



@media (max-width: 1130px) {
  .app{
    display: grid;
  }

  .left{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid #2B2B2B;
  }

  .left .placeholder{

    padding: 35px;
  }

  .middle .one, .middle .two, .middle .three, .middle .four {
    border-bottom: 1px solid #2B2B2B;

    padding-left: 50px;
    padding-right: 50px;

  }

  .middle .one .main-text {
    font-size: 45px;
    width: 100%;

    text-align: center;

  }

  .middle .one .middle-text {
    flex-direction: column;
    justify-content: center;
    padding: 50px 0px;
    width: 100%;

  }

  .middle .one .skills-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 25px;

    padding: 0px 20px;

    width: 100%;

    margin-top: 0px;

  }

  .middle .two .work-wrapper{
    grid-template-columns: repeat(auto-fit, minmax(200px, 800px));
    width: auto;
  
    :nth-child(3){
      grid-column: span 1;
    }
  }

  .middle .three .price-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    flex-wrap: wrap;

  }

  .middle .four form{
    width: 100%;

    >div{
      flex-direction: column;

      height: "fit-content";
      margin-bottom: 0px;

    }

    >div:nth-of-type(2){
      height: auto;
   
      align-items: start;
      margin-bottom: 30px;
    }
  }
}
