.app{
  display: flex;
  position: relative;

}

.left{
  color: #f6f6f6;

  left: 0px;
  top: 0px;

  font-weight: 500;
  font-size: 24px;

  height: auto;
  width: fit-content;

  padding: 0px 20px;

  background: #131313;
  border-right: 1px solid #2B2B2B;

  animation: appearFromLeft 1s ease, appear 1s ease;

  .placeholder{
    position: sticky;
    top: 90px;

    margin-right: 115px;
    padding: 50px;

    border: 1px solid #4b4b4b;
    border-radius: 50px;

    .top{
      display: flex;
      margin-bottom: 40px;

      justify-content: space-between;
      align-items: end;

      >:nth-child(1){
        font-size: 32px;
        font-weight: 400;

        line-height: 80%;
      }

      :nth-child(2){
        font-weight: 300;
        font-size: 14px;
        line-height: 90%;
      }

      :nth-child(2) :nth-child(2){
        margin-top: 5px;
      }

      img{
        position: absolute;

        top: 7px;
        right: 55px;

        width: 83.75px;
        height: 93.23px;

        opacity: 0.1;

        background: none;

        transform: rotate(-30deg);
      }
      
    }

    .profile-image{
      background: #929292;
      border-radius: 50px;

      width: 267px;
      height: 263px;

      filter: brightness(0.1);

      &:hover{
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out; /* Smooth transition */
      }
    }


    .mail-place{
      display: flex;
      flex-direction: column;

      align-items: center;
      
      color: #777777;

      font-size: 14px;
      font-weight: 400;

      padding: 35px 0px;

      :nth-child(1){
        margin-bottom: 8px;
      }
    }

    .socials{
      display: flex;

      justify-content: center;

      padding-bottom: 35px;

      div{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;

        margin-right: 10px;

        border: 2px solid #4b4b4b;
        border-radius: 100%;

        cursor: pointer;
        transition: border 0.3s ease-in-out; 

        &:hover{
        
          border: 2px solid #BB5858;
        }
      
        &:active{
          background: #532626;
        }

        img{
          width: 16px;
          opacity: 0.5;
        }
      }
    }

    .hire-me-button{
      display: flex;

      align-items: center;
      justify-content: center;

      background: #BB5858;

      padding: 13px;

      font-weight: 650;
      font-size: 16px;

      border-bottom: 5px solid #AA4C4C;
      border-radius: 50px;

      cursor: pointer;
      user-select: none;

      &:hover{
        background: #c45c5c;
      }

      &:active{
        background: #ca5f5f;
        padding: 15.5px;
        border-bottom: none;
      }
    }

  }
}

.middle{
  color: white;

  .one, .two, .three, .four{
    background: #131313;
    border-bottom: 1px solid #2B2B2B;

    padding-left: 240px;
    padding-bottom: 120px;
  }

  .one{
    animation: appearFromTop 1s ease, appear 1s ease;
    padding-top: 70px;

    .main-text{
      font-size: 80px;
      line-height: 112%;
      letter-spacing: -2.5px;
      font-weight: 280;

      span{
        color: #BB5858;
        font-weight: 400;
      }
    }

    .middle-text{
      display: flex;
      
      font-size: 16px;
      font-weight: 400;
      color: #888888;

      align-items: center;

      padding: 50px 5px;
    }

    .skills-wrapper{
      display: flex;

      margin-top: 125px;

    }
  }


  .two{
    background: #131313;
    border-bottom: 1px solid #2B2B2B;

    animation: appearFromBottom 1s ease, appear 1s ease;

    padding-top: 120px;

    .work-wrapper{
      display: grid;
      width: 916px;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 100%;
      gap: 30px; 

      transition: opacity 1.5s ease, transform 0.75s ease;
      
      :nth-child(3){
        grid-column: span 2;
      }
     
      .work-block{
        display: flex;
        flex-direction: column;

        padding: 30px;

        background-color: #1A1A1A;
        border: 1px solid rgb(44, 44, 44);
        border-radius: 15px;

        height: fit-content;
        width: 100%;

        .work_upper{
          display: flex;

          justify-content: space-between;
          align-items: end;

          margin-bottom: 30px;

          div :nth-child(1){
            font-size: 18px;
            margin-bottom: 5px;
          }

          div :nth-child(2){
            color: #777777;
            font-size: 14px;
            font-weight: 400;
          }

          button{
            background: #BB5858;

            height: 30px;
            width: 132px;

            border: none;
            border-radius: 5px;

            color: #e6e6e6;
            font-size: 13px;
            font-weight: 700;

            cursor: pointer;
            
            &:hover{
              background: #c45c5c;
            }
      
            &:active{
              background: #ca5f5f;
            }
          }

        }

        img {
          display: block;

          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .three{
    padding-top: 120px;
    background: #131313;
    height: 800px;

    >div{
      transition: opacity 1.5s ease, transform 0.75s ease;
      display: flex;
    }
  }

  .four{
    padding-top: 120px;
    padding-bottom: 80px;

    form{
      width: 750px;
      transition: opacity 1.5s ease, transform 0.75s ease;

      >div{
        display: flex;
        position: relative;

        justify-content: space-between;
        align-items: end;

        margin-bottom: 95px;

      }

      >div:nth-of-type(2){
        height: 52px
      }

      button{
        display: flex;

        align-items: center;
        justify-content: center;

        color: #f6f6f6;
        background: #BB5858;

        padding: 13px 75px;

        border: none;

        font-weight: 650;
        font-size: 16px;

        border-bottom: 5px solid #AA4C4C;
        border-radius: 50px;

        cursor: pointer;
        user-select: none;
       
        &:hover{
          background: #c45c5c;
        }

        &:active{
          background: #ca5f5f;
          padding: 15.5px 75px;
          border-bottom: none;
        }

        &:disabled:hover,
        &:disabled:active {
          background: #BB5858; 
          padding: 13px 75px;
          border-bottom: 5px solid #AA4C4C;
        }
      }
      
    }

  }
}

.right{
  background: #131313;
  justify-self: end;

  height: auto;
  padding-right: 55px;
  padding-left: 55px;

  animation: appearFromRight 1s ease, appear 1s ease;

  border-left: 1px solid #2B2B2B;

}



.hidden {
  opacity: 0;
  transform: translateY(200px);
}

.visible {
  transform: translateY(0);
  opacity: 1;
}




@keyframes appearFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}


@keyframes appearFromRight {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes appearFromTop {
  0% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes appearFromBottom {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
   
  }
  100% {
    opacity: 1;
    
  }
}

