.filters{
  position: sticky;
  top: 100px;
}


.navi{
  position: sticky;

  display: flex;
  flex-direction: column;

  top: 410px;
  
  padding: 8px 7px;

  border: 1px solid #4b4b4b;
  border-radius: 50px;

  :last-child{
    margin-bottom: 0px !important;
  }

}

.open-sidebar-button{
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  height: 20px;
  width: fit-content;

  margin-left: 20px;

  :nth-child(1), :nth-child(2), :nth-child(3){
    height: 2px;
    background: #f6f6f6;
    opacity: 0.5;

    border-radius: 10px
  }

  :nth-child(1){
    width: 15px;    
  }

  :nth-child(2){
    width: 30px;    
  }

  :nth-child(3){
    width: 20px;    
  }
  
}

@media (max-width: 1130px) {
  .filters{
    display: flex;

    height: fit-content;
    top: 0px;
  }

  .navi{
    top: 0px;
    flex-direction: row;

    height: fit-content;

    padding: 0px;

    border: none;
  }
}
